<header class="site-header">
	<nav class="nav container" aria-label="Huvudnavigering">
		<a class="brand" href="/">
			<img src="/favicon.png" alt="" width="22" height="22" />
			<span>
				<strong>scanditest</strong>
				<small>Ärliga tester, smarta val</small>
			</span>
		</a>
	</nav>
</header>
